<a href="https://colab.research.google.com/github/2303A51689/Application-of-Data-Mining/blob/main/Assignment-1_2303A51689" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pd
data=pd.read_csv('/content/_titanic.csv')

In [26]:
if not data.empty:
    null_values = data.isnull().sum()
    print("Null Values:")
    print(null_values)

Null Values:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [27]:
    mean_values = data.mean(numeric_only=True)
    median_values = data.median(numeric_only=True)
    mode_values = data.mode().iloc[0]

In [28]:
    print("\nMean Values:")
    print(mean_values)
    print("\nMedian Values:")
    print(median_values)
    print("\nMode Values:")
    print(mode_values)

Mean Values:
PassengerId    446.000000
Survived         0.383838
Pclass           2.308642
Age             29.699118
SibSp            0.523008
Parch            0.381594
Fare            32.204208
dtype: float64

Median Values:
PassengerId    446.0000
Survived         0.0000
Pclass           3.0000
Age             28.0000
SibSp            0.0000
Parch            0.0000
Fare            14.4542
dtype: float64

Mode Values:
PassengerId                      1
Survived                       0.0
Pclass                         3.0
Name           Abbing, Mr. Anthony
Sex                           male
Age                           24.0
SibSp                          0.0
Parch                          0.0
Ticket                        1601
Fare                          8.05
Cabin                      B96 B98
Embarked                         S
Name: 0, dtype: object

In [20]:

    scaler = MinMaxScaler()
    numeric_data = data.select_dtypes(include=['float64', 'int64'])
    normalized_data = pd.DataFrame(scaler.fit_transform(numeric_data), columns=numeric_data.columns)

In [34]:
    print("\nNormalized Data (first 5 rows):")
    print(normalized_data.head())

Normalized Data (first 5 rows):
   PassengerId  Survived  Pclass       Age  SibSp  Parch      Fare
0     0.000000       0.0     1.0  0.271174  0.125    0.0  0.014151
1     0.001124       1.0     0.0  0.472229  0.125    0.0  0.139136
2     0.002247       1.0     1.0  0.321438  0.000    0.0  0.015469
3     0.003371       1.0     0.0  0.434531  0.125    0.0  0.103644
4     0.004494       0.0     1.0  0.434531  0.000    0.0  0.015713